
@charset "utf-8";

.container {
  width: 960px; 
  display: flex; 
  justify-content: space-between;
  
 
  margin: 0 auto;
  padding: 10px;
  background-color: #f0f0f0; 
}

.box {
  width: 300px; 
  height: 300px; 
  background-color: blue; 
}

.container2 {
  width: 960px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 30px 0;
  
 
  margin: 20px auto;
  padding: 10px;
  background-color: #f0f0f0; 
}

.box2 {
  width: 300px; 
  height: 300px; 
  background-color: red; 
}




/* ヘッダー */

.header {
  display: flex; 
  align-items: center; 
  padding: 10px 50px; 
}

.header__nav {
  margin-left: auto; 
}

.header__nav ul {
  display: flex; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.header__nav li {
  margin: 0 15px; 
  border-left: 1px solid #000000; 
  padding-left: 15px;
}

.header__nav li:first-child {
  border-left: none;
  padding-left: 0;
}


@media screen and (max-width: 769px) {
  
  .header {
    display: block; 
    padding: 20px 20px 0 20px; 
  }

  .header__nav {
    margin-left: 0; 
  }

  .header__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .header__nav ul {
    display: block; 
  }
  
  .header__nav li {
    margin: 0;
    padding: 0; 
    border-left: none; 
    
    border-top: 1px solid #ccc;
  }
  
  .header__nav li:first-child {
    border-top: 1px solid #ccc;
    padding-left: 0;
  }
  

  .header__nav li:last-child {
      border-bottom: 1px solid #ccc;
  }
  
  .header__nav a {
    padding: 10px 0; 
  }
}